{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "pugAttributeSeparator": "none",
  "pugSortAttributes": "asc",
  "pugWrapAttributesPattern": "1",
  "semi": false,
  "arrowParens": "avoid",
  "pugBracketSpacing": true,
  "pugSingleQuote": false
}
